
    
@import url('https://matiaslescano.com.ar/static/fonts/pixelicious.css');
 * {
    margin: 0;
    padding: 0;
  }


@keyframes pulse {
    0% {
        text-shadow: rgba(255, 255, 255, .9) -0.06em -0.06em, rgba(67, 144, 126, .9) 0 0;
   }
    33% {
        text-shadow: rgba(204, 255, 252, .9) -0.15em -0.15em, rgba(157, 94, 186, .9) 0 0;
   }
    66% {
        text-shadow: rgba(229, 255, 254, .9) -0.06em -0.06em, rgba(157, 94, 186, .9) 0 0;
   }
    100% {
        text-shadow: rgba(179, 255, 251, .9) -0.15em -0.15em, rgba(202, 69, 215, .9) 0 0;
   }
}

  body,
  html {
    height: 100%;
    background-image: url(https://acegif.com/wp-content/gifs/starfall-gif-57.gif);
  }
.cont {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    #header {
    vertical-align: middle;  
    font-family: Pixelicious, monospace;
    font-size: 5vh;
    text-transform: uppercase;
    color: transparent;
    filter: blur(0.3px);
    animation: 2s ease-in-out infinite alternate pulse;
    }
#message::placeholder {
    font-size: 3vh;
    text-align: center;
    text-align: justify;
    font-family: roboto condensed, sans-serif;
    padding-left: 1%;
}
#name::placeholder {
    font-size: 3vh;
    text-align: center;
    text-align: justify;
    font-family: roboto condensed, sans-serif;
    padding-left: 1%;
}
#name {
   width: 20vw;
   height: 5vh;
   font-size: 3vh;
   text-align: center;
   text-align: justify;
   font-family: roboto condensed, sans-serif;
   padding-left: 1%;
   background-color: rgba(229, 255, 254, .7);  
}
#message {
    width: 20vw;
    height: 5vh;
    font-size: 3vh;
    text-align: center;
    text-align: justify;
    font-family: roboto condensed, sans-serif;
    padding-left: 1%;
    background-color: rgba(229, 255, 254, .7); 
 }
#messages_pane {
    font-size: 2.7vh; 
    font-family: roboto condensed, sans-serif;
    color: rgba(229, 255, 254, .7);
    display: flex;
    flex-direction: column-reverse;
    width: 40vw;
    word-break: break-all;
}
@keyframes col {
    0%   {color:rgba(26, 146, 142, 0.0636);}
    10%  {color:rgba(229, 255, 254, .127);}
    20%  {color:rgba(229, 255, 254, .190);}
    30% {color:rgba(229, 255, 254, .254);}
    40%   {color:rgba(229, 255, 254, .318);}
    50%  {color:rgba(229, 255, 254, .381);}
    60%  {color:rgba(229, 255, 254, .445);}
    70% {color:rgba(229, 255, 254, .509);}
    80%   {color:rgba(229, 255, 254, .572);}
    90%  {color:rgba(229, 255, 254, .636);}
    100%  {color:rgba(229, 255, 254, .7);}
  }
#messages_scrool {
    border: 2px solid #000;
    margin-top: 1.7%;
    background-color: rgba(22, 27, 27, 0.801);
}
#messages_scrool::-webkit-scrollbar {
    width: 12px;
}
#messages_scrool::-webkit-scrollbar-track {
    background: rgba(229, 255, 254, .5);
}
#messages_scrool::-webkit-scrollbar-thumb {
    background-color: rgba(229, 255, 254, .9);
}
#send_msg_bttn {
    font-size: 3vh;
    text-align: center;
    text-align: justify;
    font-family: roboto condensed, sans-serif; 
}
.msgs_last {
    animation-name: col;
    animation-duration: 1s;
}